In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('./Twitter_sentiment_DJIA30/twitter_data_NKE.csv')

In [ ]:
from events import events_from_data

In [ ]:
event_idxs, filtered_idxs = events_from_data(data, L=10)

In [ ]:
filtered = data.loc[filtered_idxs]

In [ ]:
filtered['POL'] = (filtered['NUM_POS'] - filtered['NUM_NEG']) / (filtered['NUM_POS'] + filtered['NUM_NEG'])

In [ ]:
filtered

In [ ]:
import pandas as pd

In [8]:
data = pd.read_csv('./Twitter_sentiment_DJIA30/financial_data_NKE.csv')

In [ ]:
data['DIFF'] = data['CLOSE'] - data['OPEN']

In [ ]:
data

In [6]:
data2 = pd.read_csv('./Twitter_sentiment_DJIA30/financial_data_DJIA.csv')

In [ ]:
data2

In [ ]:
data = pd.read_csv('./Twitter_sentiment_DJIA30/financial_data_MMM.csv')
data_t = pd.read_csv('./Twitter_sentiment_DJIA30/financial_data_DJIA.csv')

In [ ]:
from test import _idx_from_date

In [ ]:
first_1 = '2013-05-31'
diff_1 = _idx_from_date(data, '2013-06-16', first_1) - _idx_from_date(data, '2013-10-14', first_1)
first_2 = '2012-12-05'
diff_2 = _idx_from_date(data_t, '2013-06-16', first_2)- _idx_from_date(data_t, '2013-10-14', first_2)
print(diff_1, diff_2)

In [ ]:
list(data['Unnamed: 0'])

In [ ]:
list(data_t['Unnamed: 0'])

In [ ]:
test_d = data.loc[0:100]

In [15]:
import numpy as np

In [19]:
nul = pd.DataFrame.from_dict({'Unnamed: 0': ['2013-05-31'], 'HIGH': np.nan, 'LOW': np.nan, 'CLOSE': np.nan})

In [5]:
from utils import _clip_dates

In [11]:
_clip_dates(data2)

     Unnamed: 0      HIGH     CLOSE      OPEN       LOW
127  2013-05-31  15392.38  15115.57  15322.22  15115.57
128  2013-06-03  15254.11  15254.03  15123.55  15123.55
129  2013-06-04  15304.98  15177.54  15255.22  15100.78
130  2013-06-05  15168.63  14960.59  15168.10  14945.57
131  2013-06-06  15040.62  15040.62  14955.45  14844.22
132  2013-06-07  15255.58  15248.12  15044.46  15044.46
133  2013-06-10  15300.64  15238.59  15247.81  15211.25
134  2013-06-11  15251.07  15122.02  15231.38  15086.09
135  2013-06-12  15241.28  14995.23  15130.39  14981.21
136  2013-06-13  15202.27  15176.08  14992.54  14953.45
137  2013-06-14  15205.92  15070.18  15178.08  15044.80
138  2013-06-17  15261.71  15179.85  15078.71  15078.71
139  2013-06-18  15340.09  15318.23  15186.30  15186.30
140  2013-06-19  15322.07  15112.19  15315.47  15112.11
141  2013-06-20  15105.51  14758.32  15105.51  14732.03
142  2013-06-21  14858.56  14799.40  14760.62  14688.43
143  2013-06-24  14795.79  14659.56  14795.79  14551.27
144  2013-06-25  14812.03  14760.31  14669.69  14669.69
145  2013-06-26  14938.98  14910.14  14769.99  14769.68
146  2013-06-27  15075.01  15024.49  14921.28  14921.28
147  2013-06-28  15034.63  14909.83  15016.58  14884.80
148  2013-07-01  15083.28  14974.96  14911.60  14911.60
149  2013-07-02  15049.22  14932.41  14973.04  14870.51
150  2013-07-03  15025.90  14988.55  14923.73  14858.93
151  2013-07-04       NaN       NaN       NaN       NaN
152  2013-07-05  15137.51  15135.84  14995.46  14971.20
153  2013-07-08  15262.72  15224.69  15137.22  15137.22
154  2013-07-09  15320.42  15300.34  15228.46  15228.46
155  2013-07-10  15348.95  15291.66  15298.03  15258.89
156  2013-07-11  15483.55  15460.92  15298.00  15298.00
..          ...       ...       ...       ...       ...
437  2014-08-08  16556.59  16553.93  16369.68  16364.22
438  2014-08-11  16627.99  16569.98  16557.27  16557.27
439  2014-08-12  16589.31  16560.54  16565.55  16518.06
440  2014-08-13  16670.29  16651.80  16567.54  16567.54
441  2014-08-14  16714.22  16713.58  16657.32  16651.67
442  2014-08-15  16775.27  16662.91  16717.01  16575.42
443  2014-08-18  16840.28  16838.74  16664.45  16664.45
444  2014-08-19  16929.13  16919.59  16839.06  16839.06
445  2014-08-20  16994.89  16979.13  16910.03  16896.55
446  2014-08-21  17074.59  17039.56  16983.88  16983.88
447  2014-08-22  17064.28  17001.22  17038.27  16984.52
448  2014-08-25  17124.74  17076.87  17011.81  17011.81
449  2014-08-26  17153.80  17106.70  17079.57  17079.57
450  2014-08-27  17134.60  17122.01  17111.03  17090.61
451  2014-08-28  17119.06  17079.57  17119.06  17018.33
452  2014-08-29  17110.42  17098.38  17083.42  17035.38
453  2014-09-01       NaN       NaN       NaN       NaN
454  2014-09-02  17113.51  17067.56  17097.42  17009.07
455  2014-09-03  17151.89  17078.28  17067.24  17060.21
456  2014-09-04  17161.55  17069.58  17083.61  17030.12
457  2014-09-05  17137.36  17137.36  17065.89  17009.62
458  2014-09-08  17137.88  17111.42  17131.71  17079.17
459  2014-09-09  17111.55  17013.87  17110.39  16993.29
460  2014-09-10  17080.27  17068.71  17016.05  16974.57
461  2014-09-11  17057.41  17049.00  17057.41  16983.88
462  2014-09-12  17044.05  16987.51  17044.05  16937.67
463  2014-09-15  17051.85  17031.14  16988.76  16951.38
464  2014-09-16  17167.05  17131.97  17027.16  16985.55
465  2014-09-17  17221.11  17156.85  17131.01  17089.01
466  2014-09-18  17275.37  17265.99  17163.73  17163.73

[340 rows x 5 columns]

In [22]:
data.append((nul), ignore_index=True)

     CLOSE   HIGH    LOW   OPEN  Unnamed: 0
0    61.68  63.14  61.67  62.24  2013-05-31
1    63.03  63.08  61.11  61.83  2013-06-03
2    62.78  63.57  62.31  63.25  2013-06-04
3    61.76  62.94  61.60  62.44  2013-06-05
4    62.17  62.18  61.21  61.87  2013-06-06
5    62.77  63.09  62.25  62.58  2013-06-07
6    63.04  63.48  62.74  63.01  2013-06-10
7    62.16  62.94  61.97  62.04  2013-06-11
8    61.43  62.56  61.35  62.51  2013-06-12
9    61.76  61.91  61.03  61.40  2013-06-13
10   61.86  62.40  61.61  61.63  2013-06-14
11   61.94  62.72  61.82  62.62  2013-06-17
12   62.15  62.25  61.62  61.94  2013-06-18
13   61.74  62.34  61.73  62.11  2013-06-19
14   60.79  61.63  60.64  61.33  2013-06-20
15   60.57  61.38  60.07  60.82  2013-06-21
16   59.95  60.51  59.11  60.16  2013-06-24
17   60.39  60.99  59.95  60.32  2013-06-25
18   61.86  62.12  60.79  60.86  2013-06-26
19   62.32  63.25  62.13  63.00  2013-06-27
20   63.69  64.07  60.18  61.88  2013-06-28
21   62.34  64.59  62.20  63.94  2013-07-01
22   62.63  63.08  61.90  61.93  2013-07-02
23   62.86  62.94  62.10  62.46  2013-07-03
24     NaN    NaN    NaN    NaN  2013-07-04
25   63.65  63.83  63.16  63.16  2013-07-05
26   63.73  64.66  63.48  63.90  2013-07-08
27   63.93  64.28  63.40  63.88  2013-07-09
28   63.61  63.86  63.32  63.86  2013-07-10
29   63.72  64.44  63.44  64.20  2013-07-11
..     ...    ...    ...    ...         ...
311  77.05  77.50  76.98  77.45  2014-08-11
312  76.72  77.44  76.49  77.00  2014-08-12
313  77.25  77.79  76.54  77.08  2014-08-13
314  77.30  77.82  76.96  77.52  2014-08-14
315  77.11  78.00  76.49  77.72  2014-08-15
316  78.56  78.69  77.57  77.73  2014-08-18
317  78.52  79.09  78.35  78.71  2014-08-19
318  78.91  79.08  78.19  78.19  2014-08-20
319  78.95  79.40  78.65  79.03  2014-08-21
320  79.30  79.73  78.92  79.25  2014-08-22
321  80.02  80.30  79.50  79.68  2014-08-25
322  79.47  80.10  79.42  80.03  2014-08-26
323  79.72  79.99  79.41  79.99  2014-08-27
324  78.86  79.22  78.66  79.02  2014-08-28
325  78.57  78.94  78.27  78.83  2014-08-29
326    NaN    NaN    NaN    NaN  2014-09-01
327  79.29  79.52  78.46  78.48  2014-09-02
328  78.82  79.88  78.54  79.78  2014-09-03
329  79.93  80.23  79.18  79.20  2014-09-04
330  82.04  82.11  79.35  79.55  2014-09-05
331  82.41  82.79  81.09  81.92  2014-09-08
332  81.84  82.54  81.51  82.27  2014-09-09
333  82.48  82.61  81.50  81.73  2014-09-10
334  81.81  82.59  81.54  82.16  2014-09-11
335  81.84  82.00  81.41  81.97  2014-09-12
336  81.59  82.18  81.01  82.10  2014-09-15
337  81.20  81.54  80.83  81.23  2014-09-16
338  81.50  81.83  81.00  81.55  2014-09-17
339  81.96  82.00  81.25  81.85  2014-09-18
340    NaN    NaN    NaN    NaN  2013-05-31

[341 rows x 5 columns]

In [28]:
pd.read_csv('./Twitter_sentiment_DJIA30/financial_data_NKE.csv')

     Unnamed: 0   HIGH  CLOSE   OPEN    LOW
0    2013-05-31  63.14  61.68  62.24  61.67
1    2013-06-03  63.08  63.03  61.83  61.11
2    2013-06-04  63.57  62.78  63.25  62.31
3    2013-06-05  62.94  61.76  62.44  61.60
4    2013-06-06  62.18  62.17  61.87  61.21
5    2013-06-07  63.09  62.77  62.58  62.25
6    2013-06-10  63.48  63.04  63.01  62.74
7    2013-06-11  62.94  62.16  62.04  61.97
8    2013-06-12  62.56  61.43  62.51  61.35
9    2013-06-13  61.91  61.76  61.40  61.03
10   2013-06-14  62.40  61.86  61.63  61.61
11   2013-06-17  62.72  61.94  62.62  61.82
12   2013-06-18  62.25  62.15  61.94  61.62
13   2013-06-19  62.34  61.74  62.11  61.73
14   2013-06-20  61.63  60.79  61.33  60.64
15   2013-06-21  61.38  60.57  60.82  60.07
16   2013-06-24  60.51  59.95  60.16  59.11
17   2013-06-25  60.99  60.39  60.32  59.95
18   2013-06-26  62.12  61.86  60.86  60.79
19   2013-06-27  63.25  62.32  63.00  62.13
20   2013-06-28  64.07  63.69  61.88  60.18
21   2013-07-01  64.59  62.34  63.94  62.20
22   2013-07-02  63.08  62.63  61.93  61.90
23   2013-07-03  62.94  62.86  62.46  62.10
24   2013-07-04    NaN    NaN    NaN    NaN
25   2013-07-05  63.83  63.65  63.16  63.16
26   2013-07-08  64.66  63.73  63.90  63.48
27   2013-07-09  64.28  63.93  63.88  63.40
28   2013-07-10  63.86  63.61  63.86  63.32
29   2013-07-11  64.44  63.72  64.20  63.44
..          ...    ...    ...    ...    ...
310  2014-08-08  77.10  77.05  76.31  75.90
311  2014-08-11  77.50  77.05  77.45  76.98
312  2014-08-12  77.44  76.72  77.00  76.49
313  2014-08-13  77.79  77.25  77.08  76.54
314  2014-08-14  77.82  77.30  77.52  76.96
315  2014-08-15  78.00  77.11  77.72  76.49
316  2014-08-18  78.69  78.56  77.73  77.57
317  2014-08-19  79.09  78.52  78.71  78.35
318  2014-08-20  79.08  78.91  78.19  78.19
319  2014-08-21  79.40  78.95  79.03  78.65
320  2014-08-22  79.73  79.30  79.25  78.92
321  2014-08-25  80.30  80.02  79.68  79.50
322  2014-08-26  80.10  79.47  80.03  79.42
323  2014-08-27  79.99  79.72  79.99  79.41
324  2014-08-28  79.22  78.86  79.02  78.66
325  2014-08-29  78.94  78.57  78.83  78.27
326  2014-09-01    NaN    NaN    NaN    NaN
327  2014-09-02  79.52  79.29  78.48  78.46
328  2014-09-03  79.88  78.82  79.78  78.54
329  2014-09-04  80.23  79.93  79.20  79.18
330  2014-09-05  82.11  82.04  79.55  79.35
331  2014-09-08  82.79  82.41  81.92  81.09
332  2014-09-09  82.54  81.84  82.27  81.51
333  2014-09-10  82.61  82.48  81.73  81.50
334  2014-09-11  82.59  81.81  82.16  81.54
335  2014-09-12  82.00  81.84  81.97  81.41
336  2014-09-15  82.18  81.59  82.10  81.01
337  2014-09-16  81.54  81.20  81.23  80.83
338  2014-09-17  81.83  81.50  81.55  81.00
339  2014-09-18  82.00  81.96  81.85  81.25

[340 rows x 5 columns]

In [35]:
pd.read_csv('./Twitter_sentiment_DJIA30/financial_prepro_data_MMM.csv')

      CLOSE    HIGH     LOW    OPEN  Unnamed: 0
0    110.31  112.21  110.30  110.79  2013-05-31
1       NaN     NaN     NaN     NaN  2013-06-01
2       NaN     NaN     NaN     NaN  2013-06-02
3    110.60  110.95  109.69  110.51  2013-06-03
4    110.05  111.20  109.53  110.62  2013-06-04
5    108.59  109.89  108.39  109.82  2013-06-05
6    108.67  108.78  107.64  108.31  2013-06-06
7    111.10  111.12  108.97  109.38  2013-06-07
8       NaN     NaN     NaN     NaN  2013-06-08
9       NaN     NaN     NaN     NaN  2013-06-09
10   110.81  111.45  110.54  111.41  2013-06-10
11   110.22  111.08  109.51  109.88  2013-06-11
12   109.00  111.06  108.95  110.99  2013-06-12
13   111.22  111.44  108.58  108.96  2013-06-13
14   111.00  112.07  110.75  111.36  2013-06-14
15      NaN     NaN     NaN     NaN  2013-06-15
16      NaN     NaN     NaN     NaN  2013-06-16
17   111.91  112.87  111.64  111.79  2013-06-17
18   113.00  113.23  111.90  112.04  2013-06-18
19   111.57  113.25  111.53  112.96  2013-06-19
20   108.77  110.76  108.52  110.70  2013-06-20
21   109.58  110.06  108.74  109.50  2013-06-21
22      NaN     NaN     NaN     NaN  2013-06-22
23      NaN     NaN     NaN     NaN  2013-06-23
24   107.49  108.78  107.15  108.78  2013-06-24
25   108.24  108.75  107.54  108.36  2013-06-25
26   109.67  109.98  108.73  109.14  2013-06-26
27   110.24  110.90  109.97  110.54  2013-06-27
28   109.35  110.47  109.14  109.82  2013-06-28
29      NaN     NaN     NaN     NaN  2013-06-29
..      ...     ...     ...     ...         ...
446  144.59  144.82  143.50  143.86  2014-08-20
447  144.51  145.00  144.35  144.78  2014-08-21
448  144.13  144.84  143.79  144.36  2014-08-22
449     NaN     NaN     NaN     NaN  2014-08-23
450     NaN     NaN     NaN     NaN  2014-08-24
451  144.74  144.99  144.41  144.64  2014-08-25
452  144.61  145.39  144.57  144.90  2014-08-26
453  143.94  144.86  143.61  144.45  2014-08-27
454  144.00  144.12  143.02  143.50  2014-08-28
455  143.99  144.39  143.18  144.18  2014-08-29
456     NaN     NaN     NaN     NaN  2014-08-30
457     NaN     NaN     NaN     NaN  2014-08-31
458     NaN     NaN     NaN     NaN  2014-09-01
459  144.21  144.62  143.30  143.30  2014-09-02
460  143.84  144.73  143.55  144.47  2014-09-03
461  143.62  144.65  143.35  144.21  2014-09-04
462  144.18  144.32  143.12  143.64  2014-09-05
463     NaN     NaN     NaN     NaN  2014-09-06
464     NaN     NaN     NaN     NaN  2014-09-07
465  144.86  145.45  144.10  144.41  2014-09-08
466  144.46  145.27  144.24  144.70  2014-09-09
467  144.67  144.99  144.00  144.63  2014-09-10
468  144.34  144.38  143.60  143.99  2014-09-11
469  143.94  144.45  143.48  144.45  2014-09-12
470     NaN     NaN     NaN     NaN  2014-09-13
471     NaN     NaN     NaN     NaN  2014-09-14
472  144.47  144.69  143.66  144.17  2014-09-15
473  144.85  144.99  143.58  143.89  2014-09-16
474  145.36  145.79  144.26  144.92  2014-09-17
475  146.86  147.06  145.69  145.70  2014-09-18

[476 rows x 5 columns]

In [36]:
pd.read_csv('./Twitter_sentiment_DJIA30/financial_data_MMM.csv')

     Unnamed: 0    HIGH   CLOSE    OPEN     LOW
0    2013-05-31  112.21  110.31  110.79  110.30
1    2013-06-03  110.95  110.60  110.51  109.69
2    2013-06-04  111.20  110.05  110.62  109.53
3    2013-06-05  109.89  108.59  109.82  108.39
4    2013-06-06  108.78  108.67  108.31  107.64
5    2013-06-07  111.12  111.10  109.38  108.97
6    2013-06-10  111.45  110.81  111.41  110.54
7    2013-06-11  111.08  110.22  109.88  109.51
8    2013-06-12  111.06  109.00  110.99  108.95
9    2013-06-13  111.44  111.22  108.96  108.58
10   2013-06-14  112.07  111.00  111.36  110.75
11   2013-06-17  112.87  111.91  111.79  111.64
12   2013-06-18  113.23  113.00  112.04  111.90
13   2013-06-19  113.25  111.57  112.96  111.53
14   2013-06-20  110.76  108.77  110.70  108.52
15   2013-06-21  110.06  109.58  109.50  108.74
16   2013-06-24  108.78  107.49  108.78  107.15
17   2013-06-25  108.75  108.24  108.36  107.54
18   2013-06-26  109.98  109.67  109.14  108.73
19   2013-06-27  110.90  110.24  110.54  109.97
20   2013-06-28  110.47  109.35  109.82  109.14
21   2013-07-01  110.36  109.29  108.37  108.36
22   2013-07-02  109.75  108.72  109.05  108.33
23   2013-07-03  109.90  109.19  108.22  108.21
24   2013-07-04     NaN     NaN     NaN     NaN
25   2013-07-05  111.56  111.54  110.37  109.87
26   2013-07-08  112.78  112.15  112.00  111.90
27   2013-07-09  113.52  113.36  113.09  112.79
28   2013-07-10  113.88  113.47  113.37  112.91
29   2013-07-11  114.75  114.55  114.36  114.17
..          ...     ...     ...     ...     ...
310  2014-08-08  140.89  140.79  139.30  138.87
311  2014-08-11  141.50  140.56  140.93  140.54
312  2014-08-12  141.21  140.88  140.58  140.43
313  2014-08-13  141.83  141.80  140.96  140.92
314  2014-08-14  142.39  142.34  142.00  141.85
315  2014-08-15  142.98  141.91  142.78  141.01
316  2014-08-18  144.19  144.12  142.75  142.59
317  2014-08-19  145.01  144.25  144.26  143.81
318  2014-08-20  144.82  144.59  143.86  143.50
319  2014-08-21  145.00  144.51  144.78  144.35
320  2014-08-22  144.84  144.13  144.36  143.79
321  2014-08-25  144.99  144.74  144.64  144.41
322  2014-08-26  145.39  144.61  144.90  144.57
323  2014-08-27  144.86  143.94  144.45  143.61
324  2014-08-28  144.12  144.00  143.50  143.02
325  2014-08-29  144.39  143.99  144.18  143.18
326  2014-09-01     NaN     NaN     NaN     NaN
327  2014-09-02  144.62  144.21  143.30  143.30
328  2014-09-03  144.73  143.84  144.47  143.55
329  2014-09-04  144.65  143.62  144.21  143.35
330  2014-09-05  144.32  144.18  143.64  143.12
331  2014-09-08  145.45  144.86  144.41  144.10
332  2014-09-09  145.27  144.46  144.70  144.24
333  2014-09-10  144.99  144.67  144.63  144.00
334  2014-09-11  144.38  144.34  143.99  143.60
335  2014-09-12  144.45  143.94  144.45  143.48
336  2014-09-15  144.69  144.47  144.17  143.66
337  2014-09-16  144.99  144.85  143.89  143.58
338  2014-09-17  145.79  145.36  144.92  144.26
339  2014-09-18  147.06  146.86  145.70  145.69

[340 rows x 5 columns]

In [31]:
pd.DataFrame().append(data, ignore_index=True)

     Unnamed: 0  NUM_NEG  NUM_NEU  NUM_POS     TW
0    2013-05-31      0.0      1.0      0.0    1.0
1    2013-06-01      0.0      2.0      0.0    2.0
2    2013-06-02      3.0     10.0      1.0   14.0
3    2013-06-03      7.0     16.0      5.0   28.0
4    2013-06-04      1.0     16.0      6.0   23.0
5    2013-06-05      3.0      8.0      2.0   13.0
6    2013-06-06      3.0     15.0      9.0   27.0
7    2013-06-07      2.0      4.0      5.0   11.0
8    2013-06-08      0.0      3.0      3.0    6.0
9    2013-06-09      0.0      5.0      1.0    6.0
10   2013-06-10      2.0     16.0      0.0   18.0
11   2013-06-11      6.0     11.0      2.0   19.0
12   2013-06-12      0.0     14.0      1.0   15.0
13   2013-06-13      0.0     15.0      2.0   17.0
14   2013-06-14      0.0      9.0      2.0   11.0
15   2013-06-15      0.0     11.0      0.0   11.0
16   2013-06-16      1.0      2.0      0.0    3.0
17   2013-06-17      0.0     10.0      3.0   13.0
18   2013-06-18      0.0     13.0      0.0   13.0
19   2013-06-19      5.0      4.0      2.0   11.0
20   2013-06-20      2.0     37.0      1.0   40.0
21   2013-06-21      1.0     28.0      2.0   31.0
22   2013-06-22      0.0      6.0      0.0    6.0
23   2013-06-23      0.0     24.0      0.0   24.0
24   2013-06-24      1.0     13.0      3.0   17.0
25   2013-06-25      3.0     20.0     21.0   44.0
26   2013-06-26      4.0     38.0      7.0   49.0
27   2013-06-27     36.0    186.0    113.0  335.0
28   2013-06-28     21.0     78.0     36.0  135.0
29   2013-06-29      0.0     10.0      3.0   13.0
..          ...      ...      ...      ...    ...
446  2014-08-20      1.0     38.0      5.0   44.0
447  2014-08-21      4.0     50.0     22.0   76.0
448  2014-08-22      1.0     32.0     24.0   57.0
449  2014-08-23      1.0     32.0      7.0   40.0
450  2014-08-24      2.0     16.0      3.0   21.0
451  2014-08-25      2.0     47.0     29.0   78.0
452  2014-08-26      2.0     40.0      4.0   46.0
453  2014-08-27      0.0     43.0      3.0   46.0
454  2014-08-28      2.0     40.0      3.0   45.0
455  2014-08-29      3.0     49.0      7.0   59.0
456  2014-08-30      1.0     11.0      5.0   17.0
457  2014-08-31      2.0     22.0      4.0   28.0
458  2014-09-01      2.0     34.0      8.0   44.0
459  2014-09-02      6.0    125.0     23.0  154.0
460  2014-09-03      4.0     43.0      6.0   53.0
461  2014-09-04      5.0     50.0     14.0   69.0
462  2014-09-05      4.0    112.0    184.0  300.0
463  2014-09-06      1.0     60.0     24.0   85.0
464  2014-09-07      0.0     36.0      4.0   40.0
465  2014-09-08      3.0     94.0     41.0  138.0
466  2014-09-09     29.0    103.0     13.0  145.0
467  2014-09-10      1.0     59.0     14.0   74.0
468  2014-09-11      2.0     60.0     17.0   79.0
469  2014-09-12      0.0     53.0      5.0   58.0
470  2014-09-13      3.0     55.0      6.0   64.0
471  2014-09-14      0.0     32.0      0.0   32.0
472  2014-09-15      4.0     41.0     17.0   62.0
473  2014-09-16      4.0     84.0      7.0   95.0
474  2014-09-17      1.0    229.0      9.0  239.0
475  2014-09-18      0.0      7.0      2.0    9.0

[476 rows x 5 columns]